<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rage Scripting Language</string>
	<key>uuid</key>
	<string>E90B6B5B-D54D-49BA-9CD2-CA7F29B9ADED</string>
</dict>
</plist>
